@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

.popup {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 400px;
    padding: 20px 30px;
    background-color: rgb(17, 5, 35);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    transition:top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup.active {
    top:50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    color: white;
    text-align: center;

    line-height: 13px;
    border-radius: 15px;
    background-color: rgb(250, 97, 97);
    cursor: pointer;
}

.popup .form h2 {
    font-family: 'Bebas Neue';
    font-size: 42px;
    text-align: center;
    color: transparent;
    background-image: linear-gradient(45deg, #0080ff, #00ffdd);
    background-size: 100%;
    background-clip: text;
}

.popup .form .form-element {
    margin: 15px 0px;
}

.popup .form .form-element label {
    font-family: 'Jersey 15';
    font-size: 20px;
    color: white;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 95%;
    padding: 10px;
    outline: none;
    border: 1px solid white;
    border-radius: 8px;
    background-color: rgb(215, 217, 255);
} 

.popup .form .form-element input[type="checkbox"] {
    margin-right: 5px;
}

.popup .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-family: 'Orbitron';
    font-size: 20px;
    border-radius: 8px;
    background: linear-gradient(45deg, #0080ff, #00ffdd);
    cursor: pointer;
}

.popup .form .form-element a {
    display: block;
    text-align: right;
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}