@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Caveat+Brush&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --text-color: rgb(40, 225, 169);
    --topBar-color: rgb(22, 24, 38);
}


body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    background-color: black;
    background-image: url(../Images/Background/Backdrop.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    max-width: 96%;
    overflow-x: hidden;

}


/* TOPBAR */
.TopBar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: transparent;
}

.TopBar h1 {
    padding-left: 25px;
    font-family: 'Orbitron', medium;
    background-color: transparent;
    color: transparent;
    font-size: 42px;
}

.TopBar span {
    background-image: linear-gradient(45deg, #0080ff, #00ffdd);
    background-size: 100%;
    background-clip: text;
}

.diffPages {
    background-color: transparent;
    padding-top: 10px;
    display: flex;
    justify-content: end;
}   

.diffPages a {
    padding: 1.5%;
    text-align: center;
    font-family: 'Antonio';
    text-decoration: none;
    color: white;
    font-size: 20px;
    
    width: 120px;
    background-color: transparent;
}

.diffPages a:hover {
    transform: scale(1.25);
    transition: ease-in-out 0.2s;
}

.rightTools {
    margin: 10px;
    background-color: transparent;
    width: 100px;
    display: flex;
    justify-content: space-around;
}

.material-icons {
    padding-top: 10px;
    padding-right: 10px;
    font-size: 28px;
    background-color: transparent;
    color: white;
    text-decoration: none;
}

button {
    cursor: pointer;
    height: 45px;
    width: 90px;
    border: 0;
    border-radius: 4px;
    background-color: transparent;
}

.login {
    font-family: 'Orbitron';
    font-size: 18px;
    color: white;
}

button:hover {
    color: white;
    box-shadow: 0 0 20px rgba(80, 200, 122, 0.6);
    background: linear-gradient(45deg, #3c7b86,#12d3ff);
}