@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
:root {
    --text-color: rgb(40, 225, 169);
    --topBar-color: rgb(22, 24, 38);
}

* {
    scroll-behavior: smooth;
    margin: 0 0 0 0;
    background-color: black;
}


/* TOPBAR */
.TopBar {
    padding: 2%;
    display: flex;
    justify-content: space-between;
    width: 96%;
    height: 42px;
    box-shadow: 0 10px rgba(0, 0, 0, 0.385);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: var(--topBar-color);
}

.TopBar h1 {
    font-family: 'Orbitron', medium;
    background-color: var(--topBar-color);
    color: transparent;
    font-size: 42px;
}

.TopBar span {
    background-image: linear-gradient(45deg, #00f2ff, #00b7ffb2);
    background-size: 100%;
    background-clip: text;
}

.diffPages {
    background-color: var(--topBar-color);
    padding-top: 10px;
    display: flex;
    justify-content: end;
}   

.diffPages a {
    padding: 1.5%;
    text-align: center;
    font-family: 'Antonio';
    text-decoration: none;
    color: white;
    font-size: 20px;
    
    width: 120px;
    background-color: var(--topBar-color);
}

.rightTools {

    background-color: var(--topBar-color);
    width: 100px;
    display: flex;
    justify-content: space-around;
}

.material-icons {
    padding-top: 10px;
    padding-right: 10px;
    font-size: 28px;
    background-color: var(--topBar-color);
    color: white;
    text-decoration: none;
}

button {
    cursor: pointer;
    height: 45px;
    width: 90px;
    border: 0;
    border-radius: 4px;
    background-color: var(--topBar-color);
}

.login {
    font-family: 'Orbitron';
    font-size: 18px;
    color: white;
}

button:hover {
    color: white;
    box-shadow: 0 0 20px rgba(80, 200, 122, 0.6);
    background: linear-gradient(45deg, #3c7b86,#12d3ff);
}

/* CURRENTS */

.current {
    padding-top: 25px;
    height: 500px;
    display: flex;
    justify-content: center;
}

#cskpic {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    height: 100%;
}

#mipic {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.cutout {   
    width: 480px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#text1 {
    padding-top: 15px;
    font-family: 'Teko';
    font-size: 42px;
    background-color: transparent;
    align-self: center;
    color: rgb(15, 15, 139);
    text-decoration: underline;
    text-decoration-color: rgb(164, 16, 16);
}

.logos {
    padding-top: 15px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}

.logos img {
    background-color: transparent;
    width: 35%;
}

#milogo {
    padding-bottom: 12px;
}

.cutout text {
    padding-top: 20px;
    font-family: 'Caveat Brush';
    align-self: center;
    background-color: transparent;
    color: rgb(15, 15, 139);
    font-size: 40px;

}

#text2 {
    font-family: 'Teko';
    font-size: 42px;
    color: rgb(15, 15, 139);
}

#text3 {
    align-self: center;
    font-family: 'Teko';
    background-color: transparent;
    font-size: 24px;
    color: rgb(15, 15, 139);
}

.accessory {
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
}

.sponsors {
    padding-bottom: 50px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.streamers {
    padding-bottom: 44px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: end;   
}

.sponsors span {
    padding-top: 12px;
    padding-left: 35%;
    background-color: transparent;
    color: rgb(15, 15, 139);
    font-size: 18px;
    font-family: 'Teko';
    font-weight: 500;
    letter-spacing: 0px;
}

.streamers span {
    padding-top: 12px;
    padding-left: 40px;
    background-color: transparent;
    color: rgb(15, 15, 139);
    font-size: 18px;
    font-family: 'Teko';
    font-weight: 500;
    letter-spacing: 0px;
}

.spimg {
    padding-top: 5px;
}

#tataimg {
    padding-left: 5px;
    background-color: transparent;
    width: 90px;
}

#dream11img {
    padding-left: 10px;
    background-color: transparent;
    width: 70px;
}

#ss {
    padding-right: 20px;
    width: 80px;
    background-color: transparent;
}

#jio {
    padding-right: 5px;
    padding-bottom: 10px;
    width: 60px;
    background-color: transparent;
}