@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Caveat+Brush&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    background-color: black;
    background-image: url(../Images/Background/Backdrop.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    max-width: 96%;
    overflow-x: hidden;

}

.heading .sub {
  display: flex;
  justify-content: center;
}

.heading h2 {
  margin-top: 1px;
  text-align: center;
  color: transparent;
  background-image: linear-gradient(45deg, #0080ff,#00ffdd);
  background-clip: text;
  font-family: 'Orbitron';
  font-size: 42px;
}


.chart{
  background-color: transparent;
  max-width: 900px;
  height: 450px;
  margin: 0 auto;

}

.chart.chart_types{

  text-align: center;

  margin-bottom: 30px;

}

.chart.chart_types button{

  padding: 10px 25px;

}

#dn {
  font-family: 'Bebas Neue';
  font-size: 20px;
  color: black;

}

#myChart {
  height: 600px;
  max-width: 1500px;
  background-color: white;
  padding: 20px;
  border-radius: 50px;
  margin-top: 20px;
}

#orangeCap {
    height: 600px;
      max-width: 1500px;
      background-color: white;
      padding: 20px;
      border-radius: 50px;
      margin-top: 20px;
}

#purpleCap {
    height: 600px;
      max-width: 1500px;
      background-color: white;
      padding: 20px;
      border-radius: 50px;
      margin-top: 20px;
}

h2 {
  font-family: 'Orbitron';
  margin-top: 50px;
}

.material-icons {
  color: white;
  height: 20px;
  width: 20px;
  margin-left: 50px;
  margin-top: 25px;
  text-decoration: none;
}