@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Caveat+Brush&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background-color: black;
  background-image: url(../Images/Background/Backdrop.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  max-width: 96%;
  overflow-x: hidden;
}

table {
  height: 550px;
  background-color: white;
  margin-left: 5%;
  border-spacing: 0px;
  width: 90%;
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.25);
}

th,tr,td {
  font-weight: 200;
  border: 0.4px solid grey;
  padding: 5px;
  color: black;
  text-align: center;
}
th {
  font-family: 'Bebas Neue';
  background-color: rgb(47, 47, 138);
  color: white;
}
h2 {
  font-family: 'Orbitron';
  font-size: 42px;

  color:transparent;
  background-image: linear-gradient(45deg, #0080ff, #00ffdd);
  background-clip: text;
  text-align: center;
}

.a1 img, .a2 img {
  align-self: center;
  padding-right: 5px;
}
